.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1130px;
    margin: 0px auto;
}

.wrapper .listItem {
    margin: 15px
}

.btnStyles {
    text-decoration: none;
    color: slategrey;
}

.btnAdd {
    margin: 15px!important;
    width: 100%;
}

.btnDelete {
    background: tomato!important;
}